main > div {
  height: 100vh;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  // border: 2px solid red;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1px 13px 10px 2px var(--paleBlue);
  z-index: 5;

  .card-top {
    background: url(../images/illustration-hero.svg) no-repeat center center /
      cover;
    height: 20vh;
  }
}
