:root {
  // Colors
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);

  // Fonts
  --ff: font-family: 'Red Hat Display', sans-serif;
  --fw-500: 500; 
  --fw-700: 500; 
  --fw-900: 500; 

  // Widths
  --desktop-width: 90rem;
  --mobile-width: 23.5rem;
}